/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    width: 960px;
    margin: auto;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav ul li {
    float: 1;
}